<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Take5 Hazard Checklist App</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS Links-->
    <link rel="stylesheet" type="text/css" href="../styles.css">

</head>
<body>
  <nav>
    <a class="link" href="/index">Home</a>
    <a class="link" href="/index/{{projectData.project_id}}">{{projectData.project_name}} Site Information</a>
    <a class="link" href="/index/{{projectData.project_id}}/editProject">Edit Project</a>
    <a class="link" href="/index/{{projectData.project_id}}/hazard_log">Project Hazard Log</a>
  </nav>

    {{{body}}}

</body>
</html>
