<div class="container">
  <header class="pageTitle">
    <h1 class="Title">
      {{projectData.project_name}} Safety Information
    </h1>

  </header>
  <div class ="project">
    <h2>
      Project Description
    </h2>
    <table>
      <tr> <th>Headings:</th><th>Desciptions:</th> </tr>
      <tr> <th>Project Name: </th>
        <td><input placeholder="Project Name" type="text" value ="{{projectData.project_name}}"/>
        </td>
      </tr>
      <tr> <th>Location: </th>
        <td><input placeholder="Project Location" type="text" value ="{{projectData.location}}"/>
          </td>
      </tr>
      <tr> <th>SWMS: </th>
        <td><input placeholder="SWMS" type="text" value ="{{projectData.SWMS}}"/>
        </td>
      </tr>
      <tr><th>Important Notices: </th>
        <td><input placeholder="Important Notices" type="text" value ="{{projectData.important_Notices}}"/>
        </td>
      </tr>
    </table>
    <input type="submit" name = "submit" value = "submit" />
  </div>

</div>
