<div class="row">
  <header class="pageTitle">
    <h1 class="Title">
      {{projectData.project_name}} Hazard Log
    </h1>
  </header>
  <div class="HazardLog">
    <h2>Hazard log</h2>
    <nav>
      <a class="button" href="/{{projectData.project_id}}/newHazForm">New {{projectData.project_Name}}</a>
    </nav>
    <table>
      <tr> <th>ID:</th><th>Risk Owner:</th><th>Hazard:</th><th>Consequence:</th>
            <th>Expand:</th><th>Edit:</th></tr>
      {{#each allData}}
      <tr><td>{{hazard_id}}</td><td>{{owner}}</td>
          <td>{{hazard}}</td><td>{{consequence}}</td>
          <td><input type="submit" name = "expand" value = "expand" /></td>
          <td><input type="submit" name = "edit" value = "edit" /></td>
      </tr>
      {{/each}}
    </table>
  </div>
</div>
