<div class="container">
  <header class="pageTitle">
    <h1 class="Title">
      {{projectData.project_name}} Hazard Log
    </h1>
    <nav class="row">
      <a class="link" href="/index/{{projectData.project_id}}">{{projectData.project_name}} Site Information</a>
      <a class="link" href="/index">Home</a>
    </nav>
  </header>
  <div class="HazardLog">
    <h2>Hazard log</h2>
    <table>
      <tr> <th>ID:</th><th>Service:</th><th>Hazard:</th><th>Consequence:</th><th>Expand:</th></tr>
      {{#each hazardData}}
      <tr><td>{{hazard_id}}</td><td>{{discipline_name}}:</td>
          <td>{{hazard}}:</td><td>{{consequence}}</td><td>Expand:</td></tr>
      {{/each}}
    </table>
  </div>
</div>
