<div class="row">
  <header class="pageTitle">
    <h1 class="Title">
      {{projectData.project_name}} Safety Information
    </h1>
  </header>

  <div class ="project">
    <h2>
      Project Description
    </h2>
    <table>
      <tr> <th>Headings:</th><td>Desciptions:</th> </tr>
      <tr> <th>Project Number: </th> <td>{{projectData.project_number}} </td> </tr>
      <tr> <th>Project Name: </th> <td>{{projectData.project_name}} </td> </tr>
      <tr> <th>Location: </th><td>{{projectData.location}}</td> </tr>
      <tr> <th>SWMS: </th><td>{{projectData.SWMS}}</td> </tr>
      <tr> <th>Important Notices: </th><td>{{projectData.important_Notices}}</td> </tr>
    </table>
  </div>

  <div class="PPEGear">
    <h2>Site Required PPE Gear: </h2>
    <table>
      <tr> <th>PPE Item:</th><th>Image:</th></tr>
      {{#each allData}}
      <tr> <td>{{ppe_name}}</td><td><img src="{{ppe_image}}" alt="ppe_name"></td></tr>
      {{/each}}
    </table>

  </div>

</div>
